name: deploy lff back
on:
  push:
    branches:
      - master
env:
  IMAGE: backend
  VERSION: 0.0.1
jobs:
  create-folder:
    name: create folder
    runs-on: ubuntu-latest
    steps:
    - name: execute commands
      uses: appleboy/ssh-action@v1.1.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: 22
        script: |
          mkdir /opt/applications/lff/${{env.IMAGE}}
          ls -al //opt/applications/lff
  generate-image:
    name: generate image
    runs-on: ubuntu-latest
    needs: ['create-folder']
    steps:
      - name: cloner le repertoire
        uses: actions/checkout@v3
      - name: setup java version
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '17'
       # Accorder les permissions d'exécution au fichier mvnw
      - name: Give execute permission to mvnw
        run: chmod +x ./mvnw
      - name: Generation et push image
        run: |
          ./mvnw clean package spring-boot:build-image \
          -Ddocker.publishRegistry.username=${{secrets.DCK_USERNAME}} \
          -Ddocker.publishRegistry.password=${{secrets.DCK_PASSWORD}} \
          -Dspring-boot.build-image.publish=true \
          -Dmaven.test.skip=true
  run-container:
    name: run container
    runs-on: ubuntu-latest
    needs: ['create-folder','generate-image']
    steps:
      - name: cloner le repertoire
        uses: actions/checkout@v3
      - name: copy file via ssh key
        uses: appleboy/scp-action@v0.1.7
        with:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USERNAME }}
            key: ${{ secrets.PRIVATE_KEY }}
            port: 22
            source: "compose.yml"
            target: /opt/applications/lff/${{env.IMAGE}}
      - name: Pull the latest image
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          script: |
            cd /opt/applications/lff/${{env.IMAGE}}  # Aller dans le répertoire du projet
            docker-compose pull                    # Tirer la dernière version de l'image
      - name: execute commands
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          script: |
            echo DB_HOST="${{ secrets.DB_HOST }}" > /opt/applications/lff/${{env.IMAGE}}/.env
            echo DB_USERNAME="${{ secrets.DB_USERNAME }}" >> /opt/applications/lff/${{env.IMAGE}}/.env
            echo DB_PASSWORD="${{ secrets.DB_PASSWORD }}" >> /opt/applications/lff/${{env.IMAGE}}/.env
            echo UPLOAD_DIR="${{ secrets.UPLOAD_DIR }}" >> /opt/applications/lff/${{env.IMAGE}}/.env
            cat /opt/applications/lff/${{env.IMAGE}}/.env
            docker-compose -f /opt/applications/lff/${{env.IMAGE}}/compose.yml up -d
            docker exec -u root lafacturefacile-backend sh -c "
              groupadd -r lffusergroup && \
              useradd -r -g lffusergroup lffappuser && \
              chown -R lffappuser:lffusergroup /app/pdfs && \
              chmod -R 750 /app/pdfs
            "
            docker image prune -f
            rm /opt/applications/lff/${{env.IMAGE}}/.env
            